.asset-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding:10px;
    padding-right:15px;
    padding-left:15px;
}

p.amplify-text {
    color: white;
}

.asset-line-container {
    display:block;
    border-top: 1px solid #e0e0e0;
    margin-top:50px;
    width: 25%;
}

img.amplify-image {
    width: 70px;
    height: 70px;
}
