.box {
    height: 874px;
    width: 402px;
}

.box .start-ride {
    height: 874px;
    left: 0;
    position: fixed;
    top: 0;
    width: 402px;
}

.box .overlap {
    height: 874px;
    position: relative;
}

.box .phone {
    height: 874px;
    left: 0;
    position: absolute;
    top: 0;
    width: 402px;
}

.box .overlap-group-wrapper {
    height: 874px;
}

.box .overlap-group {
    background-color: #000000;
    border-radius: 50px;
    height: 884px;
    position: relative;
    width: 402px;
}

.box .home-indicator {
    height: 21px;
    left: 0;
    position: absolute;
    top: 853px;
    width: 402px;
}

.box .div {
    background-color: #000000;
    border-radius: 100px;
    height: 5px;
    left: 131px;
    position: relative;
    top: 8px;
    transform: rotate(180deg);
    width: 139px;
}

.box .bezel {
    height: 873px;
    left: 0;
    position: absolute;
    top: 0;
    width: 402px;
}

.box .iphone-pro-black {
    height: 920px;
    left: -24px;
    object-fit: cover;
    position: absolute;
    top: -23px;
    width: 450px;
}

.box .coin-group {
    height: 422px;
    left: 56px;
    position: absolute;
    top: 264px;
    width: 289px;
}

.box .overlap-2 {
    height: 422px;
    position: relative;
}

.box .coin-slot {
    height: 206px;
    left: 0;
    position: absolute;
    top: 0;
    width: 289px;
}

.box .slot {
    height: 206px;
}

.box .overlap-3 {
    height: 206px;
    position: relative;
    width: 289px;
}

.box .rectangle {
    background-color: #d9d9d9;
    border-radius: 25px;
    box-shadow: inset 0px 4px 4px #00000040;
    height: 32px;
    left: 0;
    position: absolute;
    top: 81px;
    width: 288px;
}

.box .metro-coin {
    height: 206px;
    left: 44px;
    position: absolute;
    top: 0;
    width: 201px;
}

.box .overlap-4 {
    border-radius: 100.35px/102.76px;
    height: 206px;
    position: relative;
}

.box .div-wrapper {
    background-color: #000000;
    border-radius: 100.35px/102.76px;
    box-shadow: 0px 4px 4px #00000040;
    height: 206px;
    left: 0;
    position: absolute;
    top: 0;
    width: 201px;
}

.box .ellipse-wrapper {
    background-color: #f5f5f5;
    border-radius: 90.31px/92.48px;
    height: 185px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 181px;
}

.box .ellipse {
    background-color: #000000;
    border-radius: 80.28px/82.21px;
    height: 164px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 161px;
}

.box .image {
    height: 121px;
    left: 47px;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 106px;
}

.box .rectangle-2 {
    background-color: #000000;
    height: 81px;
    left: 23px;
    position: absolute;
    top: 0;
    width: 266px;
}

.box .fast {
    height: 247px;
    left: 17px;
    position: absolute;
    top: 175px;
    width: 261px;
}

.box .rectangle-3 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
}

.box .rectangle-4 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 94px;
    position: absolute;
    top: 137px;
    width: 9px;
}

.box .rectangle-5 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 153px;
    position: absolute;
    top: 137px;
    width: 9px;
}

.box .rectangle-6 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 190px;
    position: absolute;
    top: 55px;
    width: 9px;
}

.box .rectangle-7 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 252px;
    position: absolute;
    top: 0;
    width: 9px;
}

.box .rectangle-8 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 51px;
    position: absolute;
    top: 55px;
    width: 9px;
}
