#root {
  /* max-width: 1280px; */
  display: block;
  margin: auto;
  padding: auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.action-button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 2em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  width: 100%;
  margin:10px;
}

#main-content {
  margin-top: 100px;
  
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* h1 {
    font-size: 5em;
    
  }
  h3 {
    font-size: 2em;
  } */
}

#main-content-controller{
  display: flex;
  min-height:100vh;
  /* margin:10px; */
  margin-top: 200px;
  padding:10px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}