.box {
    height: 874px;
    width: 402px;
}

.box .ride-in-progress {
    height: 874px;
    left: 0;
    position: fixed;
    top: 0;
    width: 402px;
}

.box .overlap {
    height: 874px;
    position: relative;
}

.box .phone {
    height: 874px;
    left: 0;
    position: absolute;
    top: 0;
    width: 402px;
}

.box .overlap-group {
    background-color: #000000;
    border-radius: 50px;
    height: 884px;
    position: relative;
}

.box .home-indicator-instance {
    left: 0 !important;
    position: absolute !important;
    top: 853px !important;
    width: 402px !important;
}

.box .design-component-instance-node {
    left: 131px !important;
}

.box .bezel {
    height: 873px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.box .iphone-16-pro {
    height: 920px !important;
    left: -24px !important;
    top: -23px !important;
    width: 450px !important;
}

.box .fast {
    height: 247px;
    left: -7px;
    position: absolute;
    top: 275px;
    transform: rotate(90deg);
    width: 261px;
}

.box .rectangle {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
}

.box .rectangle-2 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 94px;
    position: absolute;
    top: 137px;
    width: 9px;
}

.box .rectangle-3 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 153px;
    position: absolute;
    top: 137px;
    width: 9px;
}

.box .rectangle-4 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 190px;
    position: absolute;
    top: 55px;
    width: 9px;
}

.box .rectangle-5 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 252px;
    position: absolute;
    top: 0;
    width: 9px;
}

.box .rectangle-6 {
    background-color: #7b7373;
    border-radius: 50px;
    filter: blur(4px);
    height: 110px;
    left: 51px;
    position: absolute;
    top: 55px;
    width: 9px;
}

.box .rectangle-7 {
    background-color: #ffffff36;
    filter: blur(4px);
    height: 46px;
    left: 0;
    position: absolute;
    top: 612px;
    width: 402px;
}

.box .route-progress {
    height: 37px;
    left: 0;
    position: absolute;
    top: 616px;
    width: 402px;
}

.box .overlap-2 {
    height: 37px;
    position: relative;
}

.box .rectangle-8 {
    background-color: #d9d9d9;
    height: 12px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 402px;
}

.box .token {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
    border-radius: 18.5px;
    box-shadow: 0px 4px 4px #00000040;
    height: 37px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .token-2 {
    background-color: #d9d9d9;
    border-radius: 18.5px;
    height: 37px;
    left: 58px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .token-3 {
    background-color: #d9d9d9;
    border-radius: 18.5px;
    height: 37px;
    left: 108px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .token-4 {
    background-color: #000000;
    border-radius: 18.5px;
    height: 37px;
    left: 158px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .token-5 {
    background-color: #f6f6f6;
    border-radius: 18.5px;
    height: 37px;
    left: 208px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .token-6 {
    background-color: #f6f6f6;
    border-radius: 18.5px;
    height: 37px;
    left: 258px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .token-7 {
    background-color: #f6f6f6;
    border-radius: 18.5px;
    height: 37px;
    left: 308px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .token-8 {
    background-color: #f6f6f6;
    border-radius: 18.5px;
    height: 37px;
    left: 358px;
    position: absolute;
    top: 0;
    width: 37px;
}

.box .metro-coin {
    height: 206px;
    left: 185px;
    position: absolute;
    top: 292px;
    width: 201px;
}

.box .overlap-3 {
    border-radius: 100.35px/102.76px;
    height: 206px;
    position: relative;
}

.box .overlap-group-wrapper {
    background-color: #000000;
    border-radius: 100.35px/102.76px;
    box-shadow: 0px 4px 4px #00000040;
    height: 206px;
    left: 0;
    position: absolute;
    top: 0;
    width: 201px;
}

.box .ellipse-wrapper {
    background-color: #f5f5f5;
    border-radius: 90.31px/92.48px;
    height: 185px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 181px;
}

.box .ellipse {
    background-color: #000000;
    border-radius: 80.28px/82.21px;
    height: 164px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 161px;
}

.box .image {
    height: 121px;
    left: 47px;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 106px;
}
